apiVersion: v1
kind: Service
metadata:
  name: {{ include "sparkyfitness.fullname" . }}-server
  labels:
    {{- include "sparkyfitness.labels" . | nindent 4 }}
    app.kubernetes.io/component: server
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.server.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "sparkyfitness.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: server
