{{- if .Values.externalSecrets.enabled }}
apiVersion: external-secrets.io/{{ .Values.externalSecrets.apiVersion }}
kind: SecretStore
metadata:
  name: {{ .Values.externalSecrets.secretStore.name }}
  labels:
    {{- include "sparkyfitness.labels" . | nindent 4 }}
spec:
  provider:
    vault:
      server: {{ .Values.externalSecrets.secretStore.vaultServer | quote }}
      path: {{ .Values.externalSecrets.secretStore.vaultPath | quote }}
      version: v2
      {{- if .Values.externalSecrets.secretStore.caConfigMap.name }}
      caProvider:
        type: ConfigMap
        namespace: {{ .Values.externalSecrets.secretStore.caConfigMap.namespace }}
        name: {{ .Values.externalSecrets.secretStore.caConfigMap.name }}
        key: {{ .Values.externalSecrets.secretStore.caConfigMap.key }}
      {{- end }}
      auth:
        kubernetes:
          mountPath: {{ .Values.externalSecrets.secretStore.auth.mountPath }}
          role: {{ .Values.externalSecrets.secretStore.auth.role }}
{{- end }}
